/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

/* CSS to reset default values, make everything centered, font family and color */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
    font-family: Montserrat;
}

a {
    text-decoration: none;
}

/* Splash Screen CSS */

#splashScreen h1 {
    color: #ffffff;
}

#splashScreen p {
    color: #6764FF;
}

/* CSS class to make invisible*/
.makeDisappear {
    display: none;
}

/* CSS to make single-page effect */

section {
    display: none;
}

section:target {
    display: block;
}

/* Transition fade in/out*/ 
@keyframes fadeIn {
    0% { opacity: 0; pointer-events: none;}
    100% { opacity: 1; pointer-events: initial;}
}

@keyframes fadeOut {
    0% { opacity: 1;}
    100% { opacity: 0;}
}

/* Text Moving animation */
@keyframes moveUpMenu {
    0% { 
        position: relative;
        top: 300px;}
    100% { 
        position: relative;
        top: 0px;}
}

.fadeIn {
    animation: fadeIn 5s;
}

.fadeOut {
    animation: fadeOut 2s;
}

.fadeUp {
    transition: 1s;
    animation: moveUpMenu 1s, fadeIn 1s;
    /* animation-fill-mode: forwards; */
}

/* Making nav bar + highlight effect */
.navigation {
    display: flex;
    align-items: center;
    position: relative;
    top: -400px;
    
}

.navigation_item {
    padding: 0 20px;
}

.navigation_link {
    font-weight: 600;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    position: relative;
    display: inline-flex;
    z-index: 1;
}

.navigation_link:before {
    content: " ";
    position: absolute;
    display: flex;
    bottom: 0;
    left: -10px;
    height: 35%;
    width: 0;
    background: #6764FF;
    z-index: -1;
    transition: .3s;
}

.navigation_link:hover:before {
    width: calc(100% + 20px);
}